
                <ul class="social-icons icon-circle icon-rotate list-unstyled list-inline">
                        
                        
                            {% if site.footer-links.github %}
                                <li>
                        
                                   
                                    <a href="https://github.com/{{ site.footer-links.github }}">
                                        <i class="fa fa-github"></i>
                                    </a>
                                </li>{% endif %} 
                                {% if site.footer-links.rss %}
                                <li>
                                    <a href="{{ site.baseurl }}/feed.xml">
                                        <i class="fa fa-rss"></i>
                                    </a>
                                </li>{% endif %} 
                                {% if site.footer-links.twitter %}
                                <li>
                                    <a href="https://www.twitter.com/{{ site.footer-links.twitter }}">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>{% endif %} 
                                {% if site.footer-links.linkedin %}
                                <li>
                                        <a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>{% endif %} 
                                {% if site.footer-links.bitbucket %}
                                <li>
                                    <a href="https://bitbucket.org/{{ site.footer-links.bitbucket }}/">
                                        <i class="fa fa-bitbucket"></i>
                                    </a>
                                </li>{% endif %} 
                                {% if site.footer-links.stackoverflow %}
                                <li>
                                    <a href="https://stackexchange.com/{{ site.footer-links.stackoverflow }}">
                                        <i class="fa fa-stack-overflow"></i>
                                    </a>
                                </li>{% endif %}
                                <li>
                        
                                </li>
                                
                        </ul>